@keyframes appear {
    0%{
        opacity: 0;
        right: 50px;

    }
    100%{
        opacity: 1;
        right: 0;
    }
}

.ArticleWrapper{
    display: flex;
    background-color: blue;
    position: relative;
    animation: appear 1s ease-in-out;
}