.ArticleWrapper{
    display: flex;
}
.image{
    padding: 0;
    margin: 0;
    width: 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1076px){
    .ArticleWrapper{
        flex-direction: column;
        justify-content: center;
    }
    .image{
        width: 100%;
        background-color: cornflowerblue;
        margin: auto;
    }
}