.motivationWrapper{
    width: 50%;
}
.motivationTitle{
    font-size: 1.4rem;
    font-weight: 700;
}

.motivationContent{
    font-size: 1rem;
}

.arrow{
    color: #09D976;
    cursor: pointer;
    &:hover{
        color: #09E3B9;
    }
}

@media screen and (max-width:1500px){
    .motivationWrapper{
        width: 90%;
    }
}