.standardButton{
    color: white;
    background-color: #09D976;
    border-radius: 999px;
    border: 1px solid transparent;
    margin-right: 20px;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    width: 100px;
    //display: none;
}
standardButtonLabel{
    color: white;
    background-color: #09D976;
    border-radius: 999px;
    border: 1px solid transparent;
    margin-right: 20px;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    width: 100px;
}