.progressWrapper{
    width: 50%;
}
.progressTitle{
    font-size: 2rem;
    font-weight: 500;
}

.progressSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.progressBarSection{
    width: 70%;
}

.addSign{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(0deg, rgba(9,217,118,1) 0%, rgba(18,190,204,1) 100%);
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    top: 3px;
    &::before{
        content: '';
        background:white;
        height: 34px;
        width: 6px;
        position: absolute;
        transform: translate(-3px, -17px);

    }
    &::after{
        content: '';
        background: white;
        height: 6px;
        width: 34px;
        position: absolute;
        transform: translate(-17px,-3px);
    }
    &:hover{
        transform: rotate(-90deg);
    }
}

@media screen and (max-width: 1500px){
    .progressWrapper{
        width: 90%;
        margin: 20px;
    }
}