.App{
  margin: 0 0 0 10px;
  display: flex;
  .mainPart{
    width: 60vw;
    margin: 0 20px;
    .headerHeader{
      align-items: flex-start;
    }
  }
  .gradientPanel{
    width: 2.5vw;
    background: rgb(18,190,204);
    background: linear-gradient(0deg, rgba(9,217,118,1) 0%, rgba(18,190,204,1) 100%);
  }
  .sidePanel{
    width: 37.5vw;
    background-color: lightblue;
  }
}

.sideWrapper{
  background-color: red;
}


