.App{
  margin: 0 0 0 10px;
  display: flex;
  .mainPart{
    width: 60vw;
    .headerHeader{
      align-items: flex-start;
    }
  }
  .gradientPanel{
    width: 2vw;
    background-color: blue;
  }
}



