.bottomWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1076px){
    .bottomWrapper{
        justify-content: center;
    }
}