.progressHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.elementColor{
    color: #12BECC;
}

.iconProgress{
    display: inline-block;
}

.progressBar{
    width: 100%;
    position: relative;
}
.barBackground,
.barForeground{
    height: 18px;
    border-radius: 10px;
}

.barBackground{
    width: 100%;
    background-color: rgb(212, 212, 212);
}
.barForeground{
    background-color: #12BECC;
    position: absolute;
    top: 0;
    width: 85%;
}
