.progressHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.elementColor{
    color: #12BECC;
}

.iconProgress{
    display: inline-block;
}

.progressBar{
    width: 100%;
}
.barBackgroud{
    height: 25px;
    width: 100%;
    border-radius: 5px;
    background-color: gray;
}
