.icon{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
}

.elementColor{
    color: #12BECC;
}

.iconProgress{
    display: inline-block;
}
