*, *::before, *::after{
    box-sizing: border-box;
}.wrapper{
    color: lightblue;
    width: 60vw;
    border: 1px solid red;
}
.navWrapper{
    color: lightblue;
    width: 300px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.radioButton{
    display: transparent;
    &:checked + label{
        color: white;
        background-color: #09D976;
        border-radius: 999px;
        border: 1px solid transparent;
        margin-right: 20px;
        padding: 5px 5px;
        justify-content: center;
        align-items: space-between;
        width: 200px;
        height: 70px;
    }
}
.radioButtonLabel{
    color: #000;
}