.wrapper{
    width: 60vw;
}
.navWrapper{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 50px 0;
}
.radioButton{
    display: none;
    &:hover + label{
        background-color: #09E3B9;
        color: white;
    }
    &:checked + label{
        color: white;
        background-color: #09D976;
    }
}
.radioButtonLabel{
    display: inline-block;
    color: #000;
    border-radius: 999px;
    border: 1px solid transparent;
    margin-right: 20px;
    padding: 5px 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1076px){
    .wrapper{
        width: 90%;
        margin: 0 20px;
        background-color: brown;
    }
    .navWrapper{
        width: 100%;
        flex-wrap: wrap;
    }
    .radioButtonLabel{
        margin: 20px 20px 0 0;
    }
}