.card{
    margin: 10px 0;
    width: 280px;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-shadow: 0 20px 40px -10px rgba(#818181, .5);
    border-radius: 25px;

    &Img{
        margin: 5px 5px 0 5px;
        width: 165px;
        height: 165px;
    }
    &H3{
        border: 1px solid red;
    }
    &H4{
        color: #09E3B9;
        font-weight: 300;
        border: 1px solid red;
    }
}