.card{
    margin: 10px;
    width: 280px;
    height: 280px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: chartreuse;

    & img{
        width: 200px;
        height: 200px;
    }
}