.card{
    margin: 10px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: chartreuse;

    & img{
        width: 250px;
        height: 250px;
    }
}