.card{
    margin: 10px;
    width: 280px;
    height: 280px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: chartreuse;
    box-shadow: 0 20px 40px -10px rgba(#818181, .5);
    border-radius: 25px;

    & .cardImg{
        margin: 5px;
        width: 175px;
        height: 175px;
    }
}