.sideWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em 2em 0;
    align-items: center;
}

@media screen and (max-width: 1076px){
    .sideWrapper:nth-child(1){
        order: 1;
        background-color: blue;
    }
    .sideWrapper:nth-child(2){
        order: 3;
        background-color: green;
    }
    .sideWrapper:nth-child(3){
        order: 2;
    }
}

