.sideWrapper{
    width: 37.5vw;
    background-color: lightblue;
    padding: 0 1em 10em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}