.userBlock{
    margin: 0.67rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    .userName{
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0;
    }
    .userImage{
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 1355px){
    .userBlock{
        width: 90%;
        background-color: blue;
    }
}
