.userBlock{
    background-color: lightgreen;
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    .userName{
        border: 1px solid red;
        font-size: 1.2rem;
        margin: 0;
    }
}
